:root {
  --yellow: hsl(35, 77%, 62%);
  --orange: hsl(5, 85%, 63%);
  --white: hsl(36, 100%, 99%);
  --light-blue: hsl(233, 8%, 79%);
  --medium-blue: hsl(236, 13%, 42%);
  --dark-blue: hsl(240, 100%, 5%);
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  margin: 0 1.5rem;
  color: var(--medium-blue);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-blue);
}

p {
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.2s ease;
}

a:hover {
  color: var(--orange);
}

img:not(.logo):not(.menu-icon) {
  width: 100%;
}

.desktop-img {
  display: none;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  background-color: white;
  left: 1.5rem;
  right: 1.5rem;
  height: 100px;
  top: 0;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  position: fixed;
  gap: 2rem;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  padding: 100px 200px 0 0;
  transform: translateX(100%);
  transition: all 0.3s ease;
  margin: 0;
}

nav li {
  display: inline-block;
  margin-left: 2rem;
}

nav a {
  text-decoration: none;
  color: var(--medium-blue);
  display: inline-block;
  transition: all 0.2s ease;
}

nav button {
  background: none;
  border: none;
  cursor: pointer;
  z-index: 99;
}

main {
  display: grid;
  margin-top: 100px;
}

.article-main {
  margin-bottom: 2rem;
}

.article-main h2 {
  font-size: 3rem;
  margin: 1rem 0;
}

.article-main button {
  background-color: var(--orange);
  color: var(--dark-blue);
  border: none;
  padding: 12px 24px;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-weight: 800;
  cursor: pointer;
  transition: all 0.2s ease;
}

.article-main button:hover {
  background-color: var(--dark-blue);
  color: var(--white);
}

.articles-new {
  background-color: var(--dark-blue);
  color: var(--light-blue);
  padding: 1.5rem;
}

.articles-new h2 {
  color: var(--yellow);
  font-size: 3rem;
  margin: 0;
}

.articles-new h3 {
  color: var(--white);
  font-size: 1.5rem;
}
.articles-new h3 a {
  color: var(--white);
  transition: all 0.2s ease;
}
.articles-new h3 a:hover {
  color: var(--yellow);
}

.articles-new article {
  padding: 1rem 0;
  border-bottom: 1px solid var(--medium-blue);
}

.articles-new article:last-child {
  padding-bottom: 0;
  border-bottom: none;
}

.articles-top {
  margin: 2rem 0;
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.articles-top article {
  display: grid;
  grid-template-columns: 100px auto;
  gap: 24px;
}

.articles-top img {
  width: 100px;
  height: 100%;
  object-fit: cover;
}

.articles-top span {
  color: var(--orange);
  font-weight: 900;
  font-size: 24px;
}

.articles-top h4 {
  margin: 1rem 0;
  padding: 0;
  font-size: 24px;
  font-weight: 900;
}

.articles-top p {
  margin: 0;
  padding: 0;
}

@media (min-width: 1200px) {
  .mobile-img {
    display: none;
  }

  nav {
    display: flex;
    position: static;
  }

  nav ul {
    display: block;
    position: static;
    transform: translateX(0);
    background-color: none;
    padding: 0;
  }

  nav button {
    display: none;
  }

  main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 32px;
    margin-top: 0;
  }

  .article-main {
    display: grid;
    gap: 32px;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 0;
  }

  .desktop-img {
    display: block;
    grid-column: 1/3;
    height: 100%;
    object-fit: cover;
  }

  .article-main h2 {
    font-size: 3rem;
    margin: 0;
    display: inline-block;
  }

  .article-main div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }

  .articles-top {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
  }
}
